div.container{
    display: flex;
    justify-content: center;
}
div.form-sigup{
    width: 45%;
}
div.form-sigup form{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
input{
    margin: 10px 0;
}